{{- /* Google Analytics */ -}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7N6RC986TY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7N6RC986TY');
</script>
{{- /* Additional SEO meta */ -}}
<meta name="keywords" content="grateful dead setlist query, grateful dead show database, grateful dead query language, GDQL, search grateful dead shows, grateful dead setlist search, cornell 77 setlist, dead setlists, grateful dead songs">
<meta name="author" content="GDQL">
